.container{
    display:flex;
    flex-direction:column;
    height:1500px;
    border:3px solid blue;
    justify-content:space-around;
}
.item{
    width:400px;
    height:400px;
}
#b1{
    background-color: burlywood;
}
#b2{
    background-color:blue;
}
#b3{
    background-color:chartreuse;
}