*{
    box-sizing:border-box;
}
body{
    font-family:arial;
    margin-left:0px;
}
header{
    padding:60px;
    text-align:center;
    background-color:#1abc9c;
    color:white;
}
nav{
    display:flex;
    background-color:#333;
}
nav a{
    color:white;
    padding:14px 20px;
}
nav a:hover{
    background-color:#ddd;
    color:blue;
}
.container{
    display:flex;
    flex-wrap:wrap;
}
.aside{
    flex:30%;
    background-color:#f1f1f1;
    padding:20px;
}
.main{
    flex:70%;
    background-color:white;  
    padding:20px;
}

footer{
    padding:20px;
    background-color:blue;
    color:white;
    text-align:center;

}
footer:hover{
    background-color:yellow;
    color:blue;
}

.fakeimg {
  background-color: #aaa;
  width:100%;
  padding: 20px;
}


@media screen and (max-width:700px){
    .container,nav{
        flex-direction:row;
    }
}