.grid-container{
    display:grid;
    grid-template-rows:20px 20px 20px 20px 20px 20px 20px;
    grid-template-columns:10% 10% 10% 10% 10% 10% 10%;
    text-align: center;
    row-gap: 10px;
    column-gap:10px;
    padding-left: 150px;
    border:3px solid goldenrod;
    border-radius: 10px;
}
.item{
    background-color: black;
    color:white;
}
.period{
    background-color:#7fff00;
    color:blue;
}