.container{
  display:flex;
  flex-wrap:wrap-reverse;
  padding: 50px;
  border:2px solid black; 
}
.software{
    background-color:#0000ff;
    color:#ffffff;
    width:500px;
}
.hardware{
    background-color:#7fff00;
    color:#0000ff;
    width:500px;
}
.computer{
    background-color:#00008b;
    color:#ffffff;
    width:600px;
}