.simple{
    display:flex;
}
.london{
    color:blue;
    letter-spacing:2px;
    word-spacing: 0.5px;
    color:blue
}
.paris{
    color:blue;
    letter-spacing:2px;
    word-spacing: 0.5px;
}
.tokyo{
    color:blue;  
    letter-spacing:2px;
    word-spacing: 0.5px;
}

h2{
    color:green;
    text-transform: uppercase;
    text-align: center;
}
p{
    margin-left:20%;
}
h1{
    text-transform:uppercase;
    text-align:center;
}