.container{
    display:flex;
    height:800px;
    width:800px;
    border:2px solid black;
    
    
}
.computer{
    background-color:#a52a2a;
    color:#f0ffff;
    width:200px;
    flex-grow:1;
    
}
.mobiles{
    background-color:#7fff00;
    color:#00ff;
    width:400px;
    flex-grow:2;

    
}
.laptops{
    background-color:#fff8dc;
    color:#00ff;
    width:200px;
    flex-grow:1;
    
}