.grid-container{
    display:grid;
    width:100%;
    grid-template-columns:30% 40% 30%;
    grid-template-rows:25% 60% 15%;
   
}
img[src*=social]{
    height: 150px;
}

.progress{
    grid-column-start:2;
    grid-column-end:3;
}

.focus{
    grid-column-start: 1;
    grid-column-end: 2;
}
.images {
    grid-column-start:2;
    grid-column-end: 3; 
}
.benifits{
        grid-column-start:3;
    grid-column-end: 4;
}
img[src*=social1]{
    height:10%;
    width:100%;
}
img[src*=usecase]{
    height:10%;
    width:100%;
}
img[src*=sme]{
    height:10%;display: block; 
    width:100%;
}
.changes{
    grid-column-start:1;
    grid-column-end:4;
}
