.grid-container{
    display:grid;
    height:500px;
    width: 1000px;
    grid-template:2fr 1fr 1fr/1fr 3fr 1fr ;
    column-gap: 20px;
    row-gap:20px;
}
#one{
    background-color:blue;
    grid-row-start: 1;
    grid-row-end: 2;
}
#two{
    background-color:yellow;
    grid-column-start:2;
    grid-column-end:3;
}
#three{
    background-color:#00008b;
    color:white;
    grid-column:3/span 10;
}
#four{
    background-color:#d2691e;
    grid-row-start:2;
    grid-row-end:5;
    
}
#five{
    background-color:#00ffff;
    grid-row-start:2;
    grid-row-end:5;
}
#six{
    background-color:#7fff00;
    grid-column-start:3;
    grid-column-end:8;
    
}