.container{
  display:flex;
  flex-wrap:wrap;
}
.software{
  background-color: #7fff00;
  color:#ffffff;
  width:500px;
}
.hardware{
  background-color:#0000ff;
  color:#ffffff;         
  width:500px;

}
.computer{
  background-color:#ff7f50;
  color:#0000ff;
  width:600px;
}
